<!DOCTYPE html>
<html>

<head>
    <%-include('base/header.ejs') %>

    <style>
        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>
    <title>markets</title>
</head>

<body>
    <%-include('base/navbarTop.ejs')-%>

    <h1>금융 시장</h1>
    <table>
        <tr>
            <th>종목</th>
            <th>종가</th>
            <th>고가</th>
            <th>저가</th>
            <th>거래량</th>
        </tr>
    </table>
    <%-include('base/footer.ejs')%>

</body>

</html>