<!DOCTYPE html>
<html>
    <head>
        <%-include('base/header.ejs') %>

        <title>portfolios</title>
    </head>
    <body>
        <%-include('base/navbarTop.ejs')-%>

        <h1>Welcome to My Portfolios</h1>
        <p>로그인이 필요한 기능입니다.</p>
        <button type="button" onclick="location.href='/auth/login'">Login</button>
        <%-include('base/footer.ejs')%>

    </body>
</html>